In [9]:
#Problem No 1
originallist1=[10,22,44,23,4]
newlist2=list(originallist1)
print(originallist1)
print(newlist2)

[10, 22, 44, 23, 4]
[10, 22, 44, 23, 4]

In [8]:
#Problem No 2
#Create an empty tuple
x=0
print(x)
#Create an empty tuple with tuple() function built-in python
tuple1=tuple()
print(tuple1)

0
()

In [7]:
#Problem No 3
#Create a tuple with different data types
tuple2=("tuple",False,3.2,1)
print(tuple2)

('tuple', False, 3.2, 1)

In [5]:
#Problem No 4
#Get an item of tuple
tuplex=("U","I","T","2","0","1","8","b","a","t","c","h")
print(tuplex)
#Get item(4th element)of the tuple by index
item=tuplex[3]
print(item)
#Get item(4th element from last)by index negative
item1=tuplex[-4]
print(item1)

('U', 'I', 'T', '2', '0', '1', '8', 'b', 'a', 't', 'c', 'h')
2
a

In [11]:
#Problem No 5
>>> lst=[2,3,4]
>>> lst.extend([5,6])
>>> lst
[2,3,4,5,6]
>>> lst2=lst.copy()
>>> lst2
[2,3,4,5,6]
>>> lst.clear()
>>> lst
[]
>>> lst2
[2,3,4,5,6]

[2, 3, 4, 5, 6]

In [10]:
#Q No 1
from datetime import date
fdate=date(2018,7,5)
ldate=date(2019,8,11)
result=ldate-fdate
print(result.days)

402

In [3]:
# Q no 2 part (a)
import math
a=float(input("enter length of ladder in feet"))
b=float(input("enter angle of ladder in ddegrres"))
rad=(math.pi * b)/180
form=a * math.sin(rad)
print("the height of ladder in meter is", form)

enter length of ladder in feet16
enter angle of ladder in ddegrres75
the height of ladder in meter is 15.454813220625093

In [4]:
#Q No 2 part(b)
import math
a=float(input("enter length of ladder in feet "))
b=float(input("enter angle of ladder in ddegrres"))
rad=(math.pi * b)/180
form=a * math.sin(rad)
print("the height of in meter ladder is", form)

enter length of ladder in feet 20
enter angle of ladder in ddegrres0
the height of in meter ladder is 0.0

In [5]:
#Q No 2 part(c)
import math
a=float(input("enter length of ladder in feet "))
b=float(input("enter angle of ladder in ddegrres"))
rad=(math.pi * b)/180
form=a * math.sin(rad)
print("the height of ladder in meter is", form)

enter length of ladder in feet 24
enter angle of ladder in ddegrres45
the height of ladder in meter is 16.970562748477143

In [6]:
#Q No 2 part(d)
import math
a=float(input("enter length of ladder in feet"))
b=float(input("enter angle of ladder in ddegrres"))
rad=(math.pi * b)/180
form=a * math.sin(rad)
print("the height of ladder in meter is", form)

enter length of ladder in feet24
enter angle of ladder in ddegrres80
the height of ladder in meter is 23.63538607229299

In [1]:
#Q No 3 part (a)
a=[1,2,3,4,5]
b=a.index(3)
print("the index of the middle element in the list is" ,b)

the index of the middle element in the list is 2

In [2]:
#Q No 3 part (b)
a=[1,2,3,4,5]
print("the middle element in the list is",a[2])

the middle element in the list is 3

In [3]:
#Q No 3 part (c)
a=[1,2,3,4,5]
a.sort()
a.reverse()
print("list in descending order",a)

list in descending order [5, 4, 3, 2, 1]

In [4]:
#Q No 3 part (d)
a=[1,2,3,4,5]
c=a[0]
a.append(c)
del(a[0])
print(a)

[2, 3, 4, 5, 1]

In [22]:
#Q No 4(a)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
monthsL.insert(3,"april")
print(monthsL)
monthsT.insert(3,"april")
print(monthsT)

['jan', 'feb', 'march', 'april', 'may']
['jan', 'feb', 'march', 'april', 'may']

In [29]:
#Q No 4(b)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
monthsL.append("jun")
print(monthsL)
monthsT.append("jun")
print(monthsT)

['jan', 'feb', 'march', 'may', 'jun']
['jan', 'feb', 'march', 'may', 'jun']

In [30]:
#Q No 4(c)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
monthsT.pop()
print(monthsT)
monthsL.pop()
print(monthsL)

['jan', 'feb', 'march']
['jan', 'feb', 'march']

In [42]:
#Q No 4(d)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
del (monthsL[1])
print(monthsL)
del (monthsT[1])
print(monthsT)

['jan', 'march', 'may']
['jan', 'march', 'may']

In [45]:
#Q No 4(e)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
monthsL.reverse()
print(monthsL)
monthsT.reverse()
print(monthsT)

['may', 'march', 'feb', 'jan']
['may', 'march', 'feb', 'jan']

In [47]:
#Q No 4(f)
monthsL=['jan','feb','march','may']
monthsT=['jan','feb','march','may']
monthsL.sort()
print(monthsL)
monthsT.sort()
print(monthsT)

['feb', 'jan', 'march', 'may']
['feb', 'jan', 'march', 'may']

In [8]:
#Q No 5 
fword=len("anachronistically")
secondword=len("counterintuitive")
if fword>secondword:
    print("it is 1 greater")
else:
    print("same")

it is 1 greater

In [9]:
#Q No 5 
word="floccinaucinihilipification"
find="e"
if find in word:
    print("Yes")
else:
    print("No")

No

In [16]:
#Q 7
x=int(input("enter the value on X plane :"))
y=int(input("enter the value on Y plane :"))
if x<=10 and y<=10:
    print("True")
else:
    print("False")

enter the value on X plane :12
enter the value on Y plane :0
False

In [18]:
#Q 7 part(a)
x=0
y=0
if x<=10 and y<=10:
    print("True")
else:
    print("False")
  
#part(b)
x=10
y=10
if x<=10 and y<=10:
    print("True")
else:
    print("False")
    
#part(c)
x=6
y=6
if x<=10 and y<=10:
    print("True")
else:
    print("False")
    
#part(d)
x=7
y=8
if x<=10 and y<=10:
    print("True")
else:
    print("False")

True
True
True
True

In [22]:
#Q No 6
#assigning values to varabl 'a' and 'b'
a=6
b=7
print(a)
print(b)

#part b
c=(a+b)/2
print(c)

#part (c)
original_list=['paper','staples','pencils']
inventory=list(original_list)
print(inventory)

#part (d)
fname=str('John ')
middlename=str('Fitzgerald ')
lastname=str('Kennedy ')

#part(e)
fullname=str(fname+middlename+lastname)
print(fullname)

6
7
6.5
['paper', 'staples', 'pencils']
John Fitzgerald Kennedy